<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <jhi-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </jhi-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <jhi-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </jhi-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <jhi-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </jhi-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <jhi-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </jhi-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <jhi-temperature></jhi-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <jhi-electricity></jhi-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <jhi-rooms></jhi-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <jhi-contacts></jhi-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <jhi-solar [chartValue]="72"></jhi-solar>

    <jhi-kitten></jhi-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <jhi-traffic></jhi-traffic>
    <jhi-weather></jhi-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <jhi-security-cameras></jhi-security-cameras>
  </div>
</div>
